/* This section sets up the key variables and settings for the page*/

body {
  margin: 0;
}
/* All the containers that need to be flex row are tagged with this class */
.rowcont {
  color: blue;
  display: flex;
  flex-direction: row;
}

/* Header - Nav bar */
.nav-container {
  justify-content: space-between;
}

/* Main part - About me section*/
.showcase {
}

/*Main part - Projects section*/
.project-menu {
  justify-content: space-between;
}
.project-container {
  flex-flow: row wrap;
}

/*Main part - Contact me section*/
.contact-link-item {
  margin: 10px;
}

/* Footer - Contact links */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
