/* This section sets up the key variables and settings for the page*/
:root {
  --background: #eeeaf6;
  --secondary: #eeeeee;
  --primary: #baabda;
  --primary-variant: #6145ae;
  --primary-variant-alternative: #9a88cc;
  --secondary-variant: #424242;
  --text-black: #000000;
  --text-white: #ffffff;
  --text-box: #ffffff;
  --card-text-box: rgb(252, 243, 231);
  --link-hover: #8e2657;
  --link-hover-light: #fdeff4;
  --error: #d77fa1;
}
html {
  font-size: 15px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.intro h3 {
  padding: 0.5rem 0 0.5rem 0;
}

button {
  border-radius: 4px;
  border: 2px solid var(--primary-variant);
  color: var(--primary-variant);
  background-color: var(--text-white);
  padding: 0.3rem;
  font-weight: bold;
  margin: 1rem;
}
/* All the containers that need to be flex row are tagged with this class */
.always-row {
  display: flex;
  flex-direction: row;
}
/* All the containers that need to be flex column are tagged with this class */
.always-column {
  display: flex;
  flex-direction: column;
}
/* All the containers that need to change flex when the size of the screen changes are tagged with this class */
.stackable {
  display: flex;
  flex-direction: row;
}
/* All the containers that need to be centered on the main flex axis are tagged with this class */
.centered-on-main {
  display: flex;
  justify-content: center;
}
/* All the containers that need to be centered on the cross flex axis are tagged with this class */
.centered-on-cross {
  display: flex;
  align-items: center;
}

/* This removes the underlining on all the links */
.navlink-text,
.link-text,
.contact-link-text {
  text-decoration: none;
}
/* This makes sure each section title has some padding for aesthetic purposes*/
.section-title {
  padding: 0.6rem 0 0.6rem 0;
}

/*This sets the margins of the main sections on the page*/
.main-container,
.section-container {
  margin: 0;
}

.title-text {
  text-align: center;
  margin-bottom: 1rem;
}

/* This sets the shadow around the cards*/
.intro-text,
.project-card,
.featured-project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Header & Footer - This sets the general style of both*/
.nav-container,
.footer-container {
  justify-content: space-between;
  background-color: var(--primary-variant);
  color: var(--text-white);
  margin: 0;
}
.name {
  font-family: "Kalam", cursive;
}
.footer-text {
  padding: 0.5rem;
}
/* Header - Nav bar Language button - to be developed later - only aesthetic at this stage*/
.lang-menu {
  margin-left: 30px;
  width: 50px;
}
.selected-lang {
  cursor: pointer;
}
.selected-lang:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../images/gb.png);
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0 5px 0 5px;
}

/* Header - Nav links styling*/
.nav-name,
.navlinks-container,
.navlink-text {
  padding: 0.66rem;
  color: var(--text-white);
}

.navlink-text:hover {
  color: var(--link-hover-light);
  font-weight: 600;
  border-bottom: 2px solid var(--link-hover-light);
}

/* Main part - About me section*/
.about-container {
  min-height: 500px;
  background-image: url(../images/about-me-img1.jpg);
  background-repeat: no-repeat;
  object-fit: fill;
  padding-top: 1rem;
}
.about-content-container {
  align-items: stretch;
}

/* Main part - About me - Intro card with picture and text*/
.intro {
  align-items: center;
  box-sizing: border-box;
}
.intro-text {
  padding: 1rem;
  background-color: var(--text-box);
  margin: 10px;
}

.avatar {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 4px solid #6145ae;
}
/* Main part - About me - Skills list card*/
.intro-skills {
  background-color: var(--text-box);
  padding: 5px;
}
.skills-title {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

.skills-list ul {
  flex-flow: row wrap;
  padding: 0;
  text-align: center;
}

.skills-list li {
  display: block;
  padding: 0;
  margin: 0.5rem;
}

/*Main part - Projects section - General styling*/
h4 {
  padding: 0.5rem;
}
.project-repo-link {
  padding: 0.5rem;
}
.link-text {
  color: var(--primary-variant);
}

/* This is styling for the Project title and filter buttons */
.project-menu {
  justify-content: space-between;
  align-items: center;
}
.link-text:hover {
  color: var(--link-hover);
  font-weight: 600;
}

/* This is styling for the larger card with the featured project */
.featured-project {
  background-color: var(--primary-variant-alternative);
  padding: 1rem 0 2rem 0;
}
.featured-project-container {
  /* min-height: 600px; */
  width: 80%;
  border: 1px solid var(--card-text-box);
  position: relative;
}

h4 {
  font-size: 1.2rem;
}

.featured-project-card {
  width: 100%;
  /* height: 300px; */
  border: 1px solid var(--card-text-box);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.featured-project-card-img {
  height: 100%;
  background-color: white;
  justify-content: center;
}

.featured-image {
  height: 100%;
  width: 100%;
  opacity: 0.75;
  object-fit: fill;
}
.featured-project-card-text {
  width: 100%;
  /* height: 20%; */
  text-align: center;
  background-color: var(--card-text-box);
  opacity: 0.75;
  overflow: hidden;
}

.featured-project-card:hover .featured-image {
  opacity: 1;
}
.featured-project-card:hover .featured-project-card-text {
  opacity: 1;
}

/* This is styling for the section with all the other project cards*/
.projects {
  padding-top: 1rem;
}
.project-container {
  flex-flow: row wrap;
  justify-content: center;
  padding: 1rem 0 2rem 0;
}
h4 {
  font-size: 1.2rem;
}

.project-card {
  width: 300px;
  height: 300px;
  border: 1px solid var(--card-text-box);
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.project-card-img {
  height: 80%;
  background-color: white;
  justify-content: center;
}

.image {
  height: 100%;
  width: 100%;
  opacity: 0.75;
}
.project-card-text {
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: var(--card-text-box);
  opacity: 0.75;
  overflow: hidden;
}

.project-card:hover .image {
  opacity: 1;
}
.project-card:hover .project-card-text {
  opacity: 1;
}

/*Main part - Contact me section*/
.contact-container {
  padding-top: 1rem;
  background-color: var(--text-white);
}
.contact-links-container {
  justify-content: space-around;
  padding: 1rem;
}
.contact-link-item {
  padding: 0.5rem;
}
.contact-link-text {
  color: var(--primary-variant);
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}
.contact-link-text:hover,
.link-text:hover {
  color: var(--link-hover);
}

@media screen and (max-width: 596px) {
  .stackable {
    display: flex;
    flex-direction: column;
  }
  .intro {
    width: 100%;
    margin: 5px 0px 5px 0px;
  }
  .intro-skills {
    width: 100%;
  }

  .project-card {
    width: 85vw;
    height: 40vh;
  }
  .contact-links-container,
  .contact-container {
    justify-content: center;
    align-items: center;
  }
  /* Filter buttons get combined into one drop down button - to be developed at next update*/
}

@media screen and (max-width: 300px) {
  .stackable {
    display: flex;
    flex-direction: column;
  }
  .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px 5px 0px;
  }
  .intro-skills {
    width: 100%;
    margin: 5px 0px 5px 0px;
  }

  h4,
  .link-text {
    font-size: 0.6rem;
    padding: 0.2rem;
  }
  .project-card {
    width: 85vw;
    height: 40vh;
  }
  .contact-links-container,
  .contact-container {
    justify-content: center;
    align-items: center;
  }
  /* Filter buttons get combined into one drop down button - to be developed at next update*/
}
